#Ignore file from git
**/*.pyc
**/*CodeRunnerFile.py
**/*.json
**/*.jpg
**/*.pickle
**/*.csv
**/*.xlsx
**/*.txt
__pycache__/**
Python/database/templates/*
Python/database/test/*
Python/data_mining/link
