path {
    cursor: pointer;
  }
  
  #info {
    position: relative;
    display: inline-block;
    bottom: 300px;
    right: 200px;
    z-index: 2;
    text-align: center;
  } 
  
  #name {
    font-size: 1.6em;
  }

  #birth_rate {
    font-size: 1.6em;
  }
  
  #unit {
    font-size: 16px;
  }

  #legend {
      position: relative;
      display: inline-block;
      right: 100px;
  }